@model theBlackSmithsHouse.Domain.Entities.Product

<div class="well">
    <h3>
        <strong>
            @Model.Name
        </strong>
    </h3>
    <div class="pull-right">
        <h3>
            <span class="label label-default" id="price-text-style">
                @Model.Price  gold
            </span>
        </h3>
        @* Add to Cart Button *@
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                <input type="submit" class="btn btn-success" value="Add to Cart" />
            </div>
        }
       </div>
    <h5>@Model.Rarity</h5>
    @Model.Description
    <h5>@Model.Type</h5>

</div>